.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100vh;
    background-color: #e9dfdf;
    position: fixed;
    right: 0;
    top: 0;
  }
  #header{
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(152, 143, 143);
    justify-content: space-between;
    background-color: #075E54;
    align-items: center;
    position: absolute;
    top: 0;
  }
  #header_detail{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
  }
  #header_detail_name{
    font-weight: bold;
    color: white;
  }
  #header_detail_disc{
    color: rgb(227, 218, 218);
    font-size: 0.9rem;
  }
  #message_detail{
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
  }
  #message_detail i{
    color: rgb(231, 226, 226);
  }
  #message{
    margin-right: 1rem;
    color: rgb(232, 229, 229);
  }
  .chat-container {
    width: 100%;
    height: 90vh;
    margin-top: 9vh;
    background: transparent;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .message-thread {
    height: calc(100% - 70px);
    overflow-y: scroll;
    padding: 10px;
  }
  
  .message {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 4px;
  }
  .message_details{
    display: flex;
    flex-direction: column;
  }
  .img{
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    /* background-color: green; */
  }
  
  .message-user {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .message-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3rem;
  }
  .message-content i{
    margin-left: 8px;
    color: rgb(50, 124, 209);
  }
  .username {
    font-weight: bold;
    margin-left: 0.8rem;
  }
  .time{
    margin-left: 0.9rem;
    font-size: 0.8rem;
    color: rgb(86, 79, 79);
  }
  
  .message-text {
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.9rem;
    /* margin-right: px; */
  }
  
  .like-button {
    padding: 4px 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .like-button:hover {
    background-color: #0056b3;
  }
  
  .input-container {
    display: flex;
    padding: 10px 10px 0px 10px;
    position: relative;
    /* margin-top: 3rem; */
  }

  .emoji-picker-container {
    position: absolute;
    top: 200px; /* Adjust the value based on your preference */
    right: 10px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
 
  
  input[type='text'] {
    flex-grow: 1;
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
  }
  
  #send{
    margin-left: 6px;
    padding: 8px 14px 8px 0px;
    color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  #send:hover {
    color: #0056b3;
  }

  .green{
    background-color: green;
  }
  .purple{
    background-color: purple;
  }
  .red{
    background-color: red;
  }
  .yellow{
    background-color: yellow;
  }
  .orange{
    background-color: orange;
  }
  

