#sidebar{
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: gray; */
    align-items: flex-start;
    position: fixed;
    left: 0;
    top: 0;
}
#user_detail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
#img{
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color:rgb(207, 61, 61);
    /* text-align: center; */
    color: rgb(215, 211, 211);
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
}
#green{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: rgb(7, 208, 7);
    margin-top: 1.1rem;
    border: 2px solid white;
    margin-left: -0.4rem;
}
#username{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
#name{
    font-weight: bold;
}
#conversation{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#conversation_name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem 1rem 1rem;
    font-size: 1.3rem;
}
#conversation_name i{
    color: rgb(63, 60, 60);
}
.conversation_item{
    display: flex;
    flex-direction: row;
    padding: 10px 1rem;
    align-items: center;
}
.item_img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 20%;
    background-color: rgb(166, 161, 161);
}
.item_name{
    margin-left: 1rem;
}
#introduction{
    background-color: #075E54;
}
#intro{
    background-color: #075048;
}
